<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mohamed.healthyfood">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthyFood">
        <activity
            android:name=".mushroom"
            android:exported="false" />
        <activity
            android:name=".vpotatoes"
            android:exported="false" />
        <activity
            android:name=".vonion"
            android:exported="false" />
        <activity
            android:name=".idealWeight"
            android:exported="false" />
        <activity
            android:name=".water"
            android:exported="false" />
        <activity
            android:name=".BMI_Calculator"
            android:exported="false" />
        <activity
            android:name=".fitness"
            android:exported="false" />
        <activity
            android:name=".ui.fitness"
            android:exported="false" />
        <activity
            android:name=".ui.slideshow.Body"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivityProg"
            android:exported="false" />
        <activity
            android:name=".navDrawer"
            android:exported="false"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/Theme.HealthyFood.NoActionBar" />
        <activity
            android:name=".vPepper"
            android:exported="false" />
        <activity
            android:name=".vCarrots"
            android:exported="false" />
        <activity
            android:name=".ScrollingActivity"
            android:exported="false" />
        <activity
            android:name=".content_scrolling"
            android:exported="false" />
        <activity
            android:name=".vTomato"
            android:exported="false" />
        <activity
            android:name=".food_herbs"
            android:exported="false" />
        <activity
            android:name=".food_fruits"
            android:exported="false" />
        <activity
            android:name=".food_vegetables"
            android:exported="false" />
        <activity
            android:name=".Vegetarian"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>